<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header class="flex flex-col items-center pt-10 bg-white">
        <nav class="flex gap-5 justify-between w-full text-base font-medium leading-6 text-gray-800 max-w-[1245px] max-md:flex-wrap max-md:max-w-full">
          <div class="flex gap-5 justify-between px-5">
            <a href="#" class="logo">LOGO</a>
            <a href="#">Categories</a>
            <a href="#">Affiliate Program</a>
          </div>
          <div class="flex gap-5 justify-between px-5 my-auto whitespace-nowrap">
            <a href="#">Profile</a>
            <a href="#">Cart</a>
          </div>
        </nav>
        <section class="flex gap-5 justify-between px-6 py-6 mt-24 w-full bg-white rounded-lg border border-solid border-zinc-200 max-w-[1251px] max-md:flex-wrap max-md:px-5 max-md:mt-10 max-md:max-w-full">
          <button class="flex gap-2.5 self-start px-5 py-2.5 text-base font-medium leading-6 text-gray-900 bg-white rounded-md border border-solid border-zinc-200 max-md:pr-5">
            <span>Best Selling</span>
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/26865f53332161779821e37b7776791f9ef606e8ba38e53dff766e061fb1dcad?apiKey=45464f6dd8d54e08a5464968c5a9f90c&" alt="" class="shrink-0 my-auto w-3.5 aspect-square" />
          </button>
          <div class="flex gap-4">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/9a6332490a181f3ed5100af3704bec13c24defda71ec32b15dfec64673d53b90?apiKey=45464f6dd8d54e08a5464968c5a9f90c&" alt="Product category icon" class="shrink-0 aspect-[1.06] w-[49px]" />
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/a52973bec4dfb02d6ae10731f118307b08c8bafd76fd5d6793ad5366428f0932?apiKey=45464f6dd8d54e08a5464968c5a9f90c&" alt="Product category icon" class="shrink-0 aspect-[1.09] w-[50px]" />
          </div>
        </section>
        <main class="mt-10 w-full max-w-[1293px] max-md:max-w-full">
          <div class="flex gap-5 max-md:flex-col max-md:gap-0">
            <aside class="flex flex-col w-[28%] max-md:ml-0 max-md:w-full">
              <div class="flex flex-col items-start pt-4 pb-8 mx-auto w-full text-base font-medium leading-6 text-gray-900 bg-white rounded-lg border border-solid border-zinc-200 max-md:mt-10">
                <h2 class="ml-8 text-lg font-semibold leading-6 max-md:ml-2.5">Product Categories</h2>
                <hr class="shrink-0 self-stretch mt-3 h-px border border-solid bg-zinc-200 border-zinc-200" />
                <ul class="w-full list-none">
                  <li class="flex flex-wrap gap-2.5 content-center mt-4 ml-8 whitespace-nowrap max-md:ml-2.5">
                    <input type="checkbox" class="shrink-0 my-auto w-5 h-5 bg-white rounded border border-solid border-zinc-200" />
                    <span>Sports</span>
                  </li>
                  <li class="flex flex-wrap gap-2.5 content-center mt-4 ml-8 whitespace-nowrap max-md:ml-2.5">
                    <input type="checkbox" class="shrink-0 my-auto w-5 h-5 bg-white rounded border border-solid border-zinc-200" />
                    <span>Nutrition</span>
                  </li>
                  <li class="flex flex-wrap gap-2.5 content-center mt-4 ml-8 max-md:ml-2.5">
                    <input type="checkbox" class="shrink-0 my-auto w-5 h-5 bg-white rounded border border-solid border-zinc-200" />
                    <span>Beauty and Cosmetics</span>
                  </li>
                  <li class="flex flex-wrap gap-2.5 content-center mt-4 ml-8 whitespace-nowrap max-md:ml-2.5">
                    <input type="checkbox" class="shrink-0 my-auto w-5 h-5 bg-white rounded border border-solid border-zinc-200" />
                    <span>Art</span>
                  </li>
                  <li class="flex flex-wrap gap-2.5 content-center mt-4 ml-8 whitespace-nowrap max-md:ml-2.5">
                    <input type="checkbox" class="shrink-0 my-auto w-5 h-5 bg-white rounded border border-solid border-zinc-200" />
                    <span>Music</span>
                  </li>
                  <li class="flex flex-wrap gap-2.5 content-center mt-4 ml-8 max-md:ml-2.5">
                    <input type="checkbox" class="shrink-0 my-auto w-5 h-5 bg-white rounded border border-solid border-zinc-200" />
                    <span>Home Gardening</span>
                  </li>
                  <li class="flex flex-wrap gap-2.5 content-center mt-4 ml-8 max-md:ml-2.5">
                    <input type="checkbox" class="shrink-0 my-auto w-5 h-5 bg-white rounded border border-solid border-zinc-200" />
                    <span>Home Appliances</span>
                  </li>
                </ul>
              </div>
            </aside>
            <section class="flex flex-col ml-5 w-[72%] max-md:ml-0 max-md:w-full">
              <div class="flex flex-col grow justify-center mt-3 max-md:mt-10 max-md:max-w-full">
                <div class="justify-center px-5 max-md:max-w-full">
                  <div class="flex gap-5 max-md:flex-col max-md:gap-0">
                    <article class="flex flex-col w-[33%] max-md:ml-0 max-md:w-full">
                      <div class="flex flex-col grow justify-center items-center text-center max-md:mt-7">
                        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/80144864090cb2fefc4d4856b78dbdd4c46585840f4ddc96a088c85c6a728506?apiKey=45464f6dd8d54e08a5464968c5a9f90c&" alt="Man's Black Shirt" class="self-stretch w-full aspect-[0.9]" />
                        <h3 class="mt-5 text-xl font-semibold leading-7 text-gray-800">Man's Black Shirt</h3>
                        <p class="mt-1.5 text-base font-medium leading-6 text-gray-500">$35.00</p>
                      </div>
                    </article>
                    <article class="flex flex-col ml-5 w-[33%] max-md:ml-0 max-md:w-full">
                      <div class="flex flex-col grow justify-center items-center text-center max-md:mt-7">
                        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/80144864090cb2fefc4d4856b78dbdd4c46585840f4ddc96a088c85c6a728506?apiKey=45464f6dd8d54e08a5464968c5a9f90c&" alt="Man's Black Shirt" class="self-stretch w-full aspect-[0.9]" />
                        <h3 class="mt-5 text-xl font-semibold leading-7 text-gray-800">Man's Black Shirt</h3>
                        <p class="mt-1.5 text-base font-medium leading-6 text-gray-500">$35.00</p>
                      </div>
                    </article>
                    <article class="flex flex-col ml-5 w-[33%] max-md:ml-0 max-md:w-full">
                      <div class="flex flex-col grow justify-center items-center text-center max-md:mt-7">
                        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/80144864090cb2fefc4d4856b78dbdd4c46585840f4ddc96a088c85c6a728506?apiKey=45464f6dd8d54e08a5464968c5a9f90c&" alt="Man's Black Shirt" class="self-stretch w-full aspect-[0.9]" />
                        <h3 class="mt-5 text-xl font-semibold leading-7 text-gray-800">Man's Black Shirt</h3>
                        <p class="mt-1.5 text-base font-medium leading-6 text-gray-500">$35.00</p>
                      </div>
                    </article>
                  </div>
                </div>
                <div class="justify-center px-5 mt-10 max-md:max-w-full">
                  <div class="flex gap-5 max-md:flex-col max-md:gap-0">
                    <article class="flex flex-col w-[33%] max-md:ml-0 max-md:w-full">
                      <div class="flex flex-col grow justify-center items-center text-center max-md:mt-7">
                        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/80144864090cb2fefc4d4856b78dbdd4c46585840f4ddc96a088c85c6a728506?apiKey=45464f6dd8d54e08a5464968c5a9f90c&" alt="Man's Black Shirt" class="self-stretch w-full aspect-[0.9]" />
                        <h3 class="mt-5 text-xl font-semibold leading-7 text-gray-800">Man's Black Shirt</h3>
                        <p class="mt-1.5 text-base font-medium leading-6 text-gray-500">$35.00</p>
                      </div>
                    </article>
                    <article class="flex flex-col ml-5 w-[33%] max-md:ml-0 max-md:w-full">
                      <div class="flex flex-col grow justify-center items-center text-center max-md:mt-7">
                        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/80144864090cb2fefc4d4856b78dbdd4c46585840f4ddc96a088c85c6a728506?apiKey=45464f6dd8d54e08a5464968c5a9f90c&" alt="Man's Black Shirt" class="self-stretch w-full aspect-[0.9]" />
                        <h3 class="mt-5 text-xl font-semibold leading-7 text-gray-800">Man's Black Shirt</h3>
                        <p class="mt-1.5 text-base font-medium leading-6 text-gray-500">$35.00</p>
                      </div>
                    </article>
                    <article class="flex flex-col ml-5 w-[33%] max-md:ml-0 max-md:w-full">
                      <div class="flex flex-col grow justify-center items-center text-center max-md:mt-7">
                        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/80144864090cb2fefc4d4856b78dbdd4c46585840f4ddc96a088c85c6a728506?apiKey=45464f6dd8d54e08a5464968c5a9f90c&" alt="Man's Black Shirt" class="self-stretch w-full aspect-[0.9]" />
                        <h3 class="mt-5 text-xl font-semibold leading-7 text-gray-800">Man's Black Shirt</h3>
                        <p class="mt-1.5 text-base font-medium leading-6 text-gray-500">$35.00</p>
                      </div>
                    </article>
                  </div>
                </div>
                <div class="justify-center px-5 mt-10 max-md:max-w-full">
                  <div class="flex gap-5 max-md:flex-col max-md:gap-0">
                    <article class="flex flex-col w-[33%] max-md:ml-0 max-md:w-full">
                      <div class="flex flex-col grow justify-center items-center text-center max-md:mt-7">
                        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/80144864090cb2fefc4d4856b78dbdd4c46585840f4ddc96a088c85c6a728506?apiKey=45464f6dd8d54e08a5464968c5a9f90c&" alt="Man's Black Shirt" class="self-stretch w-full aspect-[0.9]" />
                        <h3 class="mt-5 text-xl font-semibold leading-7 text-gray-800">Man's Black Shirt</h3>
                        <p class="mt-1.5 text-base font-medium leading-6 text-gray-500">$35.00</p>
                      </div>
                    </article>
                    <article class="flex flex-col ml-5 w-[33%] max-md:ml-0 max-md:w-full">
                      <div class="flex flex-col grow justify-center items-center text-center max-md:mt-7">
                        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/80144864090cb2fefc4d4856b78dbdd4c46585840f4ddc96a088c85c6a728506?apiKey=45464f6dd8d54e08a5464968c5a9f90c&" alt="Man's Black Shirt" class="self-stretch w-full aspect-[0.9]" />
                        <h3 class="mt-5 text-xl font-semibold leading-7 text-gray-800">Man's Black Shirt</h3>
                        <p class="mt-1.5 text-base font-medium leading-6 text-gray-500">$35.00</p>
                      </div>
                    </article>
                    <article class="flex flex-col ml-5 w-[33%] max-md:ml-0 max-md:w-full">
                      <div class="flex flex-col grow justify-center items-center text-center max-md:mt-7">
                        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/80144864090cb2fefc4d4856b78dbdd4c46585840f4ddc96a088c85c6a728506?apiKey=45464f6dd8d54e08a5464968c5a9f90c&" alt="Man's Black Shirt" class="self-stretch w-full aspect-[0.9]" />
                        <h3 class="mt-5 text-xl font-semibold leading-7 text-gray-800">Man's Black Shirt</h3>
                        <p class="mt-1.5 text-base font-medium leading-6 text-gray-500">$35.00</p>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </main>
        <footer class="flex flex-col self-stretch pt-20 w-full bg-white max-md:max-w-full">
          <div class="flex justify-center items-center px-16 py-16 mt-10 w-full bg-gray-50 rounded-lg border border-solid border-zinc-200 max-md:px-5 max-md:max-w-full">
            <div class="w-full max-w-[1050px] max-md:max-w-full">
              <div class="flex gap-5 max-md:flex-col max-md:gap-0">
                <div class="flex flex-col w-[33%] max-md:ml-0 max-md:w-full">
                  <div class="flex flex-col grow max-md:mt-10">
                    <h2 class="text-xl font-semibold leading-7 text-gray-900">Anavilhanas</h2>
                    <p class="mt-16 text-base leading-6 text-gray-500 max-md:mt-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget lorem.</p>
                    <div class="flex gap-3 pr-20 mt-11 max-md:pr-5 max-md:mt-10">
                      <a href="#" aria-label="Facebook"><img src="https://cdn.builder.io/api/v1/image/assets/TEMP/080bc5430d7cceac0bcf9493eb350dd8dd95e1d69d8ac8532d33c00013ccfd86?apiKey=45464f6dd8d54e08a5464968c5a9f90c&" alt="" class="shrink-0 w-8 aspect-square" /></a>
                      <a href="#" aria-label="Twitter"><img src="https://cdn.builder.io/api/v1/image/assets/TEMP/4dc7ead95592b716dccb94ff73205bc5cdbf2da1d401f25ff268c44edee052dc?apiKey=45464f6dd8d54e08a5464968c5a9f90c&" alt="" class="shrink-0 w-8 aspect-square" /></a>
                      <a href="#" aria-label="Instagram"><img src="https://cdn.builder.io/api/v1/image/assets/TEMP/44b8309c979794914239b0dc76259dcac8b0bd43e678f54c07334ae0b686caea?apiKey=45464f6dd8d54e08a5464968c5a9f90c&" alt="" class="shrink-0 w-8 aspect-square" /></a>
                      <a href="#" aria-label="LinkedIn"><img src="https://cdn.builder.io/api/v1/image/assets/TEMP/98dbb8d8e38c42f02a165ebc8a84532cb95e9bf7f93d9f043727a65800661023?apiKey=45464f6dd8d54e08a5464968c5a9f90c&" alt="" class="shrink-0 w-8 aspect-square" /></a>
                    </div>
                  </div>
                </div>
                <nav class="flex flex-col ml-5 w-[33%] max-md:ml-0 max-md:w-full">
                  <div class="flex grow gap-5 justify-between mt-1.5 text-base leading-6 text-gray-500 max-md:mt-10">
                    <div class="flex flex-col">
                      <h3 class="text-xl font-semibold leading-7 text-gray-900">Useful Links</h3>
                      <ul class="mt-9">
                        <li class="mt-3"><a href="#">Affiliate Program</a></li>
                        <li class="mt-3"><a href="#">Contact</a></li>
                        <li class="mt-3"><a href="#">Legal & Privacy</a></li>
                        <li class="mt-3"><a href="#">Customer Service</a></li>
                      </ul>
                    </div>
                    <div class="flex flex-col self-end mt-12 max-md:mt-10">
                      <ul>
                        <li><a href="#">Best Selling</a></li>
                        <li class="mt-3"><a href="#">Trending</a></li>
                        <li class="mt-3"><a href="#">New</a></li>
                        <li class="mt-3"><a href="#">Top Affiliates</a></li>
                      </ul>
                    </div>
                  </div>
                </nav>
                <div class="flex flex-col ml-5 w-[33%] max-md:ml-0 max-md:w-full">
                  <div class="flex flex-col self-stretch my-auto max-md:mt-10">
                    <h3 class="text-xl font-semibold leading-7 text-gray-900">Subscribe Newsletter</h3>
                    <p class="mt-9 text-base leading-6 text-gray-500">Enter your email to receive our valuable newsletters.</p>
                    <form class="flex gap-5 px-5 mt-9 w-full bg-white rounded-lg border border-solid border-zinc-200">
                      <label for="email-input" class="sr-only">Enter your email</label>
                      <input type="email" id="email-input" placeholder="Enter your email" class="flex-auto my-auto text-base leading-6 text-slate-400" />
                      <div class="flex gap-5">
                        <div class="shrink-0 w-px border border-solid bg-zinc-200 border-zinc-200 h-[54px]"></div>
                        <button type="submit" aria-label="Subscribe">
                          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/7ab9a0e5dd80c03b1ab200060a3ea8367f35310cfd72277d248e74e6e0266452?apiKey=45464f6dd8d54e08a5464968c5a9f90c&" alt="" class="shrink-0 my-auto w-6 aspect-square" />
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </header>
</body>
</html>