{% extends "base.html" %}

{% block content %}          
<main class="container mx-auto items-end self-center px-5 mt-10 w-full max-w-[1208px] max-md:mt-10 max-md:max-w-full">
    <h1 class="text-4xl mb-5 font-bold text-gray-900 max-md:max-w-full">Your Shopping Bag</h1>
	<div class="overflow-auto max-h-[32rem]">
		{% for item in cart_items %}
			<section class="w-full flex justify-between px-6 py-3 mt-5 bg-white shadow-sm max-md:flex-wrap max-md:px-5">
				<div class="flex gap-5 justify-between self-end pr-2 mt-1 max-md:flex-wrap">
					<img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/6d3f0d98367568f8fb9162c327e4ed563dedb37af38ad2caedb05bd2ed0c5af9?apiKey=45464f6dd8d54e08a5464968c5a9f90c&&apiKey=45464f6dd8d54e08a5464968c5a9f90c" alt="Modern Lounge Chair" class="shrink-0 max-w-full aspect-square h-[100px]" />
					<div class="flex gap-5 justify-between my-auto max-md:flex-wrap max-md:max-w-full">
						<div class="flex flex-col px-px text-sm text-gray-500">
							<h2 class="text-2xl font-semibold text-gray-900">{{ item.product.name }}</h2>
							<p class="mt-2 text-base leading-6">{{ item.product.description }}</p>
							<div class="flex gap-2.5 justify-between self-start py-2 mt-1.5 text-center bg-white leading-[57%]">
								<p class="mt-2 text-base leading-6">Quantity:</p>
								<button onclick="changeQuantity(event, '{{ item.id }}')" class="bg-red-400 text-white px-4 py-2 rounded-md hover:bg-red-600">-</button>
								<p class="quantity text-xl font-bold" data-item-id="{{ item.id }}">{{ item.quantity }}</p>
								<button onclick="changeQuantity(event, '{{ item.id }}')" class="bg-green-400 text-white px-4 py-2 rounded-md hover:bg-green-600">+</button>
							</div>
						</div>
					</div>
				</div>
				<div class="flex flex-col justify-between max-md:mt-10">
					<button aria-label="Remove item" class="px-3 py- text-sm font-medium text-black rounded-md hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-200 focus:ring-offset-2">Remove</button>
					<div data-item-id="{{ item.id }}" class="total text-lg font-medium leading-6 text-right text-gray-900">KES {{ item.product.price }}</div>
				</div>
			</section>
		{% endfor %}
	</div>
	

    <div class="flex gap-5 justify-between mt-14 mr-6 ml-auto max-w-full text-base leading-6 text-gray-900 w-[360px] max-md:mt-10 max-md:mr-2.5">
        <div class="flex flex-col">
            <p>Subtotal</p>
            <p class="mt-7">Shipping Cost (+)</p>
        </div>
        <div class="flex flex-col font-medium text-right whitespace-nowrap">
            <p class="self-start ml-3.5 max-md:ml-2.5">KES 108</p>
            <p class="mt-6">KES 10.85</p>
        </div>
    </div>
    <hr class="shrink-0 mt-7 ml-auto max-w-full h-px border border-solid bg-zinc-200 border-zinc-200 w-[420px]" />
    <div class="flex gap-5 mt-8 mr-6 ml-auto max-w-full text-base leading-6 text-gray-900 w-[360px] max-md:mr-2.5">
        <p class="flex-auto">Total Payable</p>
        <p class="font-medium text-right"> KES 118.85</p>
    </div>
    <div class="flex gap-5 mt-8 mr-6 ml-auto max-w-full text-base leading-6 text-gray-900 w-[360px] max-md:mr-2.5">
        <a href="{% url 'shop:checkout' %}" class="w-full">
            <button class="w-full flex gap-2 justify-center px-9 py-4 mt-4 text-lg font-bold leading-5 text-center text-white bg-gray-800 rounded-md max-md:px-5 max-md:mr-2.5">
                Proceed to Checkout
                <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/80ac8b1b7a372098dc9820299ecee898970e74b52a993972ce4de3838579e575?apiKey=45464f6dd8d54e08a5464968c5a9f90c&&apiKey=45464f6dd8d54e08a5464968c5a9f90c" alt="" class="shrink-0 aspect-square w-[18px]" />
            </button>
        </a>
    </div>
</main>

<!-- JavaScript -->
<script>
    function changeQuantity(event, itemId) {
        const quantityElement = document.querySelector(`.quantity[data-item-id="${itemId}"]`);
        const button = event.target;
        let count = parseInt(quantityElement.innerText);

        if (button.innerText === '+') {
            quantityElement.innerText = count + 1;

        } else if (button.innerText === '-' && count > 1) {
            quantityElement.innerText = count - 1;
        }
    }
</script>
{% endblock %}
