{% extends "base.html" %}

{% block content %}          
<main class="container mx-auto items-end self-center px-5 mt-10 w-full max-w-[1208px] max-md:mt-10 max-md:max-w-full">
    <h1 class="text-4xl mb-5 font-bold text-gray-900 max-md:max-w-full">Your Shopping Bag</h1>
    <div class="overflow-auto max-h-[32rem]" id="cart-items-container">
        {% for item_with_total in cart_items_with_totals %}
            {% with item=item_with_total.item %}
            <section class="w-full flex justify-between px-6 py-3 mt-5 bg-white shadow-sm max-md:flex-wrap max-md:px-5" data-product-id="{{ item.product.id }}">
                <a href="{% url 'shop:product' item.product.id %}">
                    <div class="flex gap-5 justify-between self-end pr-2 mt-1 max-md:flex-wrap">
                        <img loading="lazy" src="{{ item.product.images.image1.url }}" alt="Product image 1" class="shrink-0 max-w-full aspect-square h-[120px]" />
                        <div class="flex gap-5 justify-between my-auto max-md:flex-wrap max-md:max-w-full">
                            <div class="flex flex-col px-px text-sm text-gray-500">
                                <h2 class="text-2xl font-semibold text-gray-900">{{ item.product.name }}</h2>
                                <p class="mt-2 text-base leading-6">{{ item.product.description }}</p>
                                <div class="flex gap-2.5 justify-between self-start py-2 mt-1.5 text-center bg-white leading-[57%]">
                                    <p class="mt-2 text-base leading-6">Quantity: 
                                        <span class="quantity" data-item-id="{{ item.id }}" data-price="{{ item.product.price }}" data-quantity="{{ item.quantity }}">{{ item.quantity }}</span> 
                                        x 
                                        <span class="price">{{ item.product.price }}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="flex flex-col justify-between max-md:mt-10">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    <button aria-label="Remove item" class="remove-item px-3 py-2 text-sm font-medium text-black rounded-md hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-200 focus:ring-offset-2">Remove</button>
                    <div class="total text-lg font-medium leading-6 text-right text-gray-900">KES {{ item_with_total.total_price }}</div>
                </div>
            </section>
            {% endwith %}
        {% endfor %}
    </div>
    
    <div class="flex gap-5 justify-between mt-14 mr-6 ml-auto max-w-full text-base leading-6 text-gray-900 w-[360px] max-md:mt-10 max-md:mr-2.5">
        <div class="flex flex-col">
            <p>Subtotal</p>
            <p class="mt-7">Shipping Cost (+)</p>
        </div>
        <div class="flex flex-col font-medium text-right whitespace-nowrap">
            <p id="subtotal" class="self-start ml-3.5 max-md:ml-2.5">KES 0</p>
            <p id="shipping-cost" class="mt-6">KES 500</p>
        </div>
    </div>
    <hr class="shrink-0 mt-7 ml-auto max-w-full h-px border border-solid bg-zinc-200 border-zinc-200 w-[420px]" />
    <div class="flex gap-5 mt-8 mr-6 ml-auto max-w-full text-base leading-6 text-gray-900 w-[360px] max-md:mr-2.5">
        <p class="flex-auto">Total Payable</p>
        <p id="total" class="font-medium text-right">KES 0</p>
    </div>
    <div class="flex gap-5 mt-8 mr-6 ml-auto max-w-full text-base leading-6 text-gray-900 w-[360px] max-md:mr-2.5">
        <a href="{% url 'shop:checkout' %}" class="w-full">
            <button class="w-full flex gap-2 justify-center px-9 py-4 mt-4 text-lg font-bold leading-5 text-center text-white bg-gray-800 rounded-md max-md:px-5 max-md:mr-2.5">
                Proceed to Checkout
                <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/80ac8b1b7a372098dc9820299ecee898970e74b52a993972ce4de3838579e575?apiKey=45464f6dd8d54e08a5464968c5a9f90c&&apiKey=45464f6dd8d54e08a5464968c5a9f90c" alt="" class="shrink-0 aspect-square w-[18px]" />
            </button>
        </a>
    </div>
</main>

<script>
document.addEventListener("DOMContentLoaded", function() {
    function updateCartTotals() {
        let subtotal = 0;
        document.querySelectorAll('.quantity').forEach(function(quantityElement) {
            const price = parseFloat(quantityElement.dataset.price);
            const quantity = parseInt(quantityElement.dataset.quantity);
            subtotal += price * quantity;
        });

        const shippingCost = 500;  // Assuming a fixed shipping cost
        const total = subtotal + shippingCost;

        document.getElementById('subtotal').innerText = `KES ${subtotal.toFixed(2)}`;
        document.getElementById('total').innerText = `KES ${total.toFixed(2)}`;
    }

    $('.remove-item').click(function() {
        let $item = $('.remove-item');
        let csrfToken = $('[name="csrfmiddlewaretoken"]').val();
        let productId = $(this).closest('section').data('product-id');
        // Make the AJAX request to remove the item
        $.ajax({
            url: `/cart/remove/${productId}/`, // Replace with your server endpoint
            method: 'POST',
            data: {
                product_id: productId,
                csrfmiddlewaretoken: csrfToken // Ensure CSRF token if needed
            },
            success: function(response) {
                if (response.status === 'success') {
                    window.location.reload();                    
                    // Update cart totals
                    updateCartTotals();
                } else {
                    window.location.reload();
                    updateCartTotals();
                }
            },
            error: function(error) {
                // Handle any errors that occurred during the request
                console.error('Error:', error);

            }
        });
    })
    updateCartTotals();
});
</script>

{% endblock %}
