{% extends "base.html" %}

{% block content %}
    <main class="flex flex-col bg-white">
        <section class="self-center mt-7 w-full max-w-[1220px] max-md:max-w-full">
            <div class="flex gap-5 max-md:flex-col">
                <div class="flex flex-col w-[63%] max-md:ml-0 max-md:w-full">
                    <div class="flex flex-col px-5 text-base text-gray-500 max-md:mt-10 max-md:max-w-full">
                        <h1 class="self-start text-4xl font-bold leading-10 text-gray-900">Checkout</h1>
                        <p class="self-start mt-3 text-gray-500 leading-[150%]">There are 3 products in your cart</p>
                        <h2 class="mt-12 text-2xl font-semibold text-gray-900 max-md:mt-10 max-md:max-w-full">Shipping Details</h2>
                        <form class="mt-8">
                        <div class="flex gap-5 leading-[150%] max-md:flex-wrap max-md:max-w-full">
                            <div class="flex-1">
                            <label for="firstName" class="sr-only">First name</label>
                            <input id="firstName" type="text" placeholder="First name*" class="w-full py-3 pr-4 pl-5 bg-white rounded-2xl border border-solid border-slate-200" required>
                            </div>
                            <div class="flex-1">
                            <label for="lastName" class="sr-only">Last name</label>
                            <input id="lastName" type="text" placeholder="Last name*" class="w-full py-3 pr-4 pl-5 bg-white rounded-2xl border border-solid border-slate-200" required>
                            </div>
                        </div>
                        <div class="flex gap-5 mt-8 leading-[150%] max-md:flex-wrap max-md:max-w-full">
                            <div class="flex-1">
                            <label for="email" class="sr-only">Email</label>
                            <input id="email" type="email" placeholder="Customer email*" class="w-full py-3 pr-4 pl-5 bg-white rounded-2xl border border-solid border-slate-200" required>
                            </div>
                            <div class="flex-1">
                            <label for="phone" class="sr-only">Phone</label>
                            <input id="phone" type="tel" placeholder="Phone*" class="w-full py-3 pr-4 pl-5 bg-white rounded-md border border-solid border-slate-200" required>
                            </div>
                        </div>
                        <div class="flex gap-5 mt-8 whitespace-nowrap leading-[150%] max-md:flex-wrap max-md:max-w-full">
                            <div class="flex-1">
                            <label for="city" class="sr-only">City</label>
                            <input id="city" type="text" placeholder="City*" class="w-full py-3 pr-4 pl-5 bg-white rounded-md border border-solid border-slate-200" required>
                            </div>
                            <div class="flex-1">
                            <label for="town" class="sr-only">Town</label>
                            <input id="town" type="text" placeholder="Town*" class="w-full py-3 pr-4 pl-5 bg-white rounded-md border border-solid border-zinc-200" required>
                            </div>
                        </div>
                        <div class="flex gap-5 mt-8 leading-[150%] max-md:flex-wrap max-md:max-w-full">
                            <div class="flex-1">
                            <label for="road" class="sr-only">Major Road</label>
                            <input id="road" type="text" placeholder="Major Road*" class="w-full px-5 py-3 bg-white rounded-md border border-solid border-zinc-200" required>
                            </div>
                            <div class="flex-1">
                            <label for="estate" class="sr-only">Estate</label>
                            <input id="estate" type="text" placeholder="Estate*" class="w-full py-3 pr-4 pl-5 bg-white rounded-md border border-solid border-zinc-200" required>
                            </div>
                        </div>
                        <div class="mt-8">
                            <label for="deliveryInfo" class="sr-only">Delivery Location Details</label>
                            <textarea id="deliveryInfo" placeholder="Tell us more about your delivery location e.g. landmarks" class="w-full px-5 pt-5 pb-24 bg-white rounded-md border border-solid border-zinc-200 leading-[150%] max-md:pb-10 max-md:max-w-full"></textarea>
                        </div>
                        <button type="submit" class="px-9 py-3 mt-8 text-lg leading-5 text-center bg-white rounded-xl border-2 border-gray-800 border-solid text-slate-500 max-md:px-5">Create Account (Optional)</button>
                        </form>
                        <!-- <div class="flex items-center mt-14 max-md:mt-10">
                        <input type="checkbox" id="terms" class="w-5 h-5 bg-white rounded border border-solid border-zinc-200">
                        <label for="terms" class="ml-2 text-gray-500">I agree to the terms and conditions</label>
                        </div> -->
                    </div>
                </div>
                <aside class="flex flex-col ml-5 w-[38%] max-md:ml-0 max-md:w-full">
                    <div class="flex flex-col grow px-5 mt-1.5 max-md:mt-10">
                        <h2 class="text-2xl font-semibold text-gray-900">Your Order</h2>
                        <div class="flex flex-col pt-px pb-7 mt-9 bg-white rounded-xl border border-solid border-zinc-200 shadow-[0px_10px_20px_rgba(92,115,160,0.07)]">
                            <div class="flex gap-5 justify-between px-7 py-6 text-base font-medium leading-6 text-gray-900 whitespace-nowrap rounded-lg bg-stone-50 max-md:px-5">
                                <div>Product</div>
                                <div class="text-right">Subtotal</div>
                            </div>
                            <div id="order summary" class="overflow-auto sm:h-56 md:h-64 lg:h-72 xl:h-80">
                                {% for item in cart_items %}
                                    <div class="flex gap-5 justify-between mx-8 mt-6 max-md:mx-2.5">
                                        <a href="{% url 'shop:cart' %}" tabindex="0">
                                            <div class="flex gap-4">
                                                <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/4c598c4839fc46a9c666efbbbf53ccd7256449bc514757559bee422654f51ada?apiKey=45464f6dd8d54e08a5464968c5a9f90c&" class="shrink-0 w-12 aspect-square" alt="Hollow Port product image" />
                                                <div class="flex flex-col my-auto">
                                                    <div class="text-base font-medium leading-6 text-gray-900">{{ item.product.name }}</div>
                                                    <div class="flex gap-5 justify-between mt-3.5 text-sm leading-5 text-gray-500">
                                                        <div>{{ item.quantity }} x {{ item.product.price }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="self-start text-base font-semibold leading-6 text-gray-900">$36.00</div>
                                    </div>
                                    <hr class="mx-8 mt-6 border-zinc-200" />
                                {% endfor %}
                            </div>
                            <hr class="mx-8 mt-6 border-zinc-200" />
                            <div class="flex gap-5 justify-between mx-8 mt-8 text-base leading-6 text-gray-900 max-md:mx-2.5">
                                <div class="flex flex-col">
                                    <div>Subtotal</div>
                                    <div class="mt-7">Shipping Cost (+)</div>
                                </div>
                                <div class="flex flex-col font-medium text-right whitespace-nowrap">
                                    <div class="self-start ml-3.5 max-md:ml-2.5">$108</div>
                                    <div class="mt-6">$9.00</div>
                                </div>
                            </div>
                            <hr class="mx-8 mt-7 border-zinc-200" />
                            <div class="flex gap-5 mx-8 mt-8 text-base leading-6 text-gray-900 max-md:mx-2.5">
                                <div class="flex-auto">Total Payable</div>
                                <div class="font-medium text-right">$88.15</div>
                            </div>
                        </div>
                        <div class="px-16 pt-4 pb-1 mt-7 text-2xl font-bold text-gray-900 rounded-lg bg-stone-50 max-md:px-5">Payment via M-pesa</div>
                        <input type="tel" placeholder="0712345678" class="py-3 pr-4 pl-5 mt-10 text-xl leading-6 text-center text-gray-500 bg-white rounded-md border border-solid border-zinc-200 max-md:pr-5 max-md:mx-1" aria-label="M-pesa number" />
                        <button class="px-9 py-3 mt-5 text-lg font-bold leading-5 text-center text-white bg-gray-800 rounded-md max-md:px-5">Place Order</button>
                    </div>
                </aside>
            </div>
        </section>
    </main>
{% endblock %}
