<!DOCTYPE html>
<html>
<head>
    <title>{{ product.name }}</title>
</head>
<body>
    <p>Name: {{ product.name }}</p>
    <p>Category: {{ product.category.name }}</p>
    <p>Price: {{ product.price }}</p>
    <p>Quantity: {{ product.quantity }}</p>
    <p>Description: {{ product.description }}</p>
    <p>Features: {{ product.features }}</p>
    <a href="{% url 'shop:add_to_cart' product.id %}"><span>Add to Cart</span></a>
    <br>
    <br>
    <br>
    <h1>You may also like</h1>
    {% if other_products %}
    <ul>
        {% for product in other_products %}
            <li>{{ product.name }}</li>
            <li>{{ product.category.name }}</li>
            <li>{{ product.price }}</li>
            <li>{{ product.quantity }}</li>
            <li>{{ product.description }}</li>
            <li>{{ product.features }}</li>
            <li><a href="{% url 'shop:product' product.id %}"><span>View Product</span></a></li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No products currently available.</p>
    {% endif %}

</body>
</html>
