{% extends "base.html" %}

{% block content %}
    <main class="container mx-8 mt-10 w-full max-w-[1293px] max-md:max-w-full">
        <div class="flex gap-5 max-md:flex-col max-md:gap-0">
            <aside class="flex flex-col w-[28%] max-md:ml-0 max-md:w-full">
                <div class="flex flex-col items-start pt-4 pb-8 mx-auto w-full text-base font-medium leading-6 text-gray-900 bg-white rounded-lg border border-solid border-zinc-200 max-md:mt-10">
                    <h2 class="ml-8 text-lg font-semibold leading-6 max-md:ml-2.5">Browse by category</h2>
                    <hr class="shrink-0 self-stretch mt-3 h-px border border-solid bg-zinc-200 border-zinc-200" />
                    <ul class="w-full list-none">
                    {% for category in categories %}
                        <li class="flex flex-wrap gap-2.5 content-center mt-4 ml-8 whitespace-nowrap max-md:ml-2.5">
                            <span>
                                <a href="{% url 'shop:products_list' category_id=category.id %}">{{ category.name }}</a>
                            </span>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </aside>
            <section class="flex flex-col ml-5 w-[72%] max-md:ml-0 max-md:w-full">
                <div class="flex flex-col grow justify-center mt-3 max-md:mt-10 max-md:max-w-full">
                    <div class="justify-center px-5 max-md:max-w-full">
                        <div class="flex gap-5 max-md:flex-col max-md:gap-0">
                        {% if first_product %}
                            {% for image in first_product.images.all %}
                                <article class="flex flex-col w-[33%] max-md:ml-0 max-md:w-full rounded-lg">
                                    <div class="flex flex-col grow justify-center max-md:mt-7">
                                        <a href="{% url 'shop:product' first_product.id %}">
                                            <img src="{{ image.image1.url }}" alt="{{ first_product.name }} Image 1" class="rounded-lg">
                                            <h3 class="mt-3 text-xl font-semibold leading-7 text-gray-800">{{ first_product.name }}</h3>
                                            <p class="mt-1.5 text-base font-medium leading-6 text-gray-500">KES {{ first_product.price }}</p>
                                        </a>
                                    </div>
                                </article>
                            {% endfor %}
                        {% endif %}
                        {% if second_product %}
                            {% for image in second_product.images.all %}
                                <article class="flex flex-col w-[33%] max-md:ml-0 max-md:w-full rounded-lg">
                                    <div class="flex flex-col grow justify-center max-md:mt-7">
                                        <a href="{% url 'shop:product' second_product.id %}">
                                            <img src="{{ image.image1.url }}" alt="{{ second_product.name }} Image 1" class="rounded-lg">
                                            <h3 class="mt-3 text-xl font-semibold leading-7 text-gray-800">{{ second_product.name }}</h3>
                                            <p class="mt-1.5 text-base font-medium leading-6 text-gray-500">KES {{ second_product.price }}</p>
                                        </a>
                                    </div>
                                </article>
                            {% endfor %}
                        {% endif %}
                        {% if third_product %}
                            {% for image in third_product.images.all %}
                                <article class="flex flex-col w-[33%] max-md:ml-0 max-md:w-full rounded-lg">
                                    <div class="flex flex-col grow justify-center max-md:mt-7">
                                        <a href="{% url 'shop:product' third_product.id %}">
                                            <img src="{{ image.image1.url }}" alt="{{ third_product.name }} Image 1" class="rounded-lg">
                                            <h3 class="mt-3 text-xl font-semibold leading-7 text-gray-800">{{ third_product.name }}</h3>
                                            <p class="mt-1.5 text-base font-medium leading-6 text-gray-500">KES {{ third_product.price }}</p>
                                        </a>
                                    </div>
                                </article>
                            {% endfor %}
                    {% endif %}
                    </div>
                </div>
                <div class="justify-center px-5 mt-10 max-md:max-w-full">
                    <div class="flex gap-5 max-md:flex-col max-md:gap-0">
                        {% if fourth_product %}
                            {% for image in fourth_product.images.all %}
                                <article class="flex flex-col w-[33%] max-md:ml-0 max-md:w-full rounded-lg">
                                    <div class="flex flex-col grow justify-center max-md:mt-7">
                                        <a href="{% url 'shop:product' fourth_product.id %}">
                                            <img src="{{ image.image1.url }}" alt="{{ fourth_product.name }} Image 1" class="rounded-lg">
                                            <h3 class="mt-3 text-xl font-semibold leading-7 text-gray-800">{{ fourth_product.name }}</h3>
                                            <p class="mt-1.5 text-base font-medium leading-6 text-gray-500">KES {{ fourth_product.price }}</p>
                                        </a>
                                    </div>
                                </article>
                            {% endfor %}
                        {% endif %}
                        {% if fifth_product %}
                            {% for image in fifth_product.images.all %}
                                <article class="flex flex-col w-[33%] max-md:ml-0 max-md:w-full rounded-lg">
                                    <div class="flex flex-col grow justify-center max-md:mt-7">
                                        <a href="{% url 'shop:product' fifth_product.id %}">
                                            <img src="{{ image.image1.url }}" alt="{{ fifth_product.name }} Image 1" class="rounded-lg">
                                            <h3 class="mt-3 text-xl font-semibold leading-7 text-gray-800">{{ fifth_product.name }}</h3>
                                            <p class="mt-1.5 text-base font-medium leading-6 text-gray-500">KES {{ fifth_product.price }}</p>
                                        </a>
                                    </div>
                                </article>
                            {% endfor %}
                        {% endif %}
                        {% if sixth_product %}
                            {% for image in sixth_product.images.all %}
                                <article class="flex flex-col w-[33%] max-md:ml-0 max-md:w-full">
                                    <div class="flex flex-col grow justify-center max-md:mt-7">
                                        <a href="{% url 'shop:product' sixth_product.id %}">
                                            <img src="{{ image.image1.url }}" alt="{{ sixth_product.name }} Image 1" class="rounded-lg">
                                            <h3 class="mt-3 text-xl font-semibold leading-7 text-gray-800">{{ sixth_product.name }}</h3>
                                            <p class="mt-1.5 text-base font-medium leading-6 text-gray-500">KES {{ sixth_product.price }}</p>
                                        </a>
                                    </div>
                                </article>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="justify-center px-5 mt-10 max-md:max-w-full">
                    <div class="flex gap-5 max-md:flex-col max-md:gap-0">
                        {% if seventh_product %}
                            {% for image in seventh_product.images.all %}
                                <article class="flex flex-col w-[33%] max-md:ml-0 max-md:w-full">
                                    <div class="flex flex-col grow justify-center max-md:mt-7">
                                        <a href="{% url 'shop:product' seventh_product.id %}">
                                            <img src="{{ image.image1.url }}" alt="{{ seventh_product.name }} Image 1" class="rounded-lg">
                                            <h3 class="mt-3 text-xl font-semibold leading-7 text-gray-800">{{ seventh_product.name }}</h3>
                                            <p class="mt-1.5 text-base font-medium leading-6 text-gray-500">KES {{ seventh_product.price }}</p>
                                        </a>
                                    </div>
                                </article>
                            {% endfor %}
                        {% endif %}
                        {% if eighth_product %}
                            {% for image in eighth_product.images.all %}
                                <article class="flex flex-col w-[33%] max-md:ml-0 max-md:w-full">
                                    <div class="flex flex-col grow justify-center max-md:mt-7">
                                        <a href="{% url 'shop:product' eighth_product.id %}">
                                            <img src="{{ image.image1.url }}" alt="{{ eighth_product.name }} Image 1" class="rounded-lg">
                                            <h3 class="mt-3 text-xl font-semibold leading-7 text-gray-800">{{ eighth_product.name }}</h3>
                                            <p class="mt-1.5 text-base font-medium leading-6 text-gray-500">KES {{ eighth_product.price }}</p>
                                        </a>
                                    </div>
                            </article>
                            {% endfor %}
                        {% endif %}
                        {% if ninth_product %}
                            {% for image in ninth_product.images.all %}
                                <article class="flex flex-col w-[33%] max-md:ml-0 max-md:w-full">
                                    <div class="flex flex-col grow justify-center max-md:mt-7">
                                        <a href="{% url 'shop:product' ninth_product.id %}">
                                            <img src="{{ image.image1.url }}" alt="{{ ninth_product.name }} Image 1" class="rounded-lg">
                                            <h3 class="mt-3 text-xl font-semibold leading-7 text-gray-800">{{ ninth_product.name }}</h3>
                                            <p class="mt-1.5 text-base font-medium leading-6 text-gray-500">KES {{ ninth_product.price }}</p>
                                        </a>
                                    </div>
                                </article>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                </div>
            </section>
        </div>
    </main>
    <div class="flex justify-center mt-6">
        <nav class="flex space-x-2">
          {% if products.has_previous %}
            <a href="?page=1" class="px-4 py-2 bg-gray-300 text-gray-700 rounded-md hover:bg-gray-400">&laquo; First</a>
            <a href="?page={{ products.previous_page_number }}" class="px-4 py-2 bg-gray-300 text-gray-700 rounded-md hover:bg-gray-400">Previous</a>
          {% endif %}
      
          <span class="px-4 py-2 bg-gray-200 text-gray-700 rounded-md">
            Page {{ products.number }} of {{ products.paginator.num_pages }}
          </span>
      
          {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}" class="px-4 py-2 bg-gray-300 text-gray-700 rounded-md hover:bg-gray-400">Next</a>
            <a href="?page={{ products.paginator.num_pages }}" class="px-4 py-2 bg-gray-300 text-gray-700 rounded-md hover:bg-gray-400">Last &raquo;</a>
          {% endif %}
        </nav>
      </div>

{% endblock %}