<!DOCTYPE html>
<html>
<head>
    <title>{{ product.name }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <p>Name: {{ product.name }}</p>
    <p>Category: {{ product.category.name }}</p>
    <p>Price: {{ product.price }}</p>
    <p>Quantity: {{ product.quantity }}</p>
    <p>Description: {{ product.description }}</p>
    <p>Features: {{ product.features }}</p>
    <div class="product-images">
        {% for image in product.images.all %}
            {% if image.image1 %}
                <img src="{{ image.image1.url }}" alt="{{ product.name }} Image 1">
            {% endif %}
            {% if image.image2 %}
                <img src="{{ image.image2.url }}" alt="{{ product.name }} Image 2">
            {% endif %}
            {% if image.image3 %}
                <img src="{{ image.image3.url }}" alt="{{ product.name }} Image 3">
            {% endif %}
            {% if image.image4 %}
                <img src="{{ image.image4.url }}" alt="{{ product.name }} Image 4">
            {% endif %}
            {% if image.image5 %}
                <img src="{{ image.image5.url }}" alt="{{ product.name }} Image 5">
            {% endif %}
        {% endfor %}
    </div>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <button id="add-to-cart" data-product-id="{{ product.id }}">Add to Cart</button>
    <br>
    <br>
    <br>
    <h1>You may also like</h1>
    {% if other_products %}
    <ul>
        {% for product in other_products %}
            <li>{{ product.name }}</li>
            <li>{{ product.category.name }}</li>
            <li>{{ product.price }}</li>
            <li>{{ product.quantity }}</li>
            <li>{{ product.description }}</li>
            <li>{{ product.features }}</li>
            <div class="product-images">
                {% for image in product.images.all %}
                    {% if image.image1 %}
                        <img src="{{ image.image1.url }}" alt="{{ product.name }} Image 1">
                    {% endif %}
                    {% if image.image2 %}
                        <img src="{{ image.image2.url }}" alt="{{ product.name }} Image 2">
                    {% endif %}
                    {% if image.image3 %}
                        <img src="{{ image.image3.url }}" alt="{{ product.name }} Image 3">
                    {% endif %}
                    {% if image.image4 %}
                        <img src="{{ image.image4.url }}" alt="{{ product.name }} Image 4">
                    {% endif %}
                    {% if image.image5 %}
                        <img src="{{ image.image5.url }}" alt="{{ product.name }} Image 5">
                    {% endif %}
                {% endfor %}
            </div>
            <li><a href="{% url 'shop:product' product.id %}"><span>View Product</span></a></li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No products currently available.</p>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function() {
        var inCart = "{{ in_cart }}";
        if (inCart === "True") {
            $('#add-to-cart').text('Added to Cart');
            $('#add-to-cart').prop('disabled', true);
        }
        $('#add-to-cart').click(function() {
            let product_id = $(this).data('product-id');
            let csrfToken = $('[name="csrfmiddlewaretoken"]').val();
            let url = `/product/${product_id}/add_to_cart/`;  // Construct the URL with product ID

            $.ajax({
                url: url,
                type: 'POST',
                data: {
                    product_id: product_id,
                    csrfmiddlewaretoken: csrfToken
                },
                success: function(response) {
                    // Handle successful addition (e.g., update button text)
                    alert('Item added to cart successfully');
                    $('#add-to-cart').text('Added to Cart');
                    $('#add-to-cart').prop('disabled', true);
                },
                error: function(response) {
                    // Handle error (e.g., display an error message)
                    alert('Failed to add to cart');
                }
            });
        });
    });
    </script>

</body>
</html>
