<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>index</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <h1>Products Available</h1>
    {% if products %}
    <ul>
        {% for product in products %}
            <li>{{ product.name }}</li>
            <li>{{ product.category.name }}</li>
            <li>{{ product.price }}</li>
            <li>{{ product.quantity }}</li>
            <li>{{ product.description }}</li>
            <li>{{ product.features }}</li>
            <li><a href="{% url 'shop:product' product.id %}"><span>View Product</span></a></li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No products currently available.</p>
    {% endif %}
</body>
</html>