{% extends "base.html" %}

{% block content %}
    <p>Personal Information</p>
    <form>
        {% csrf_token %}
        {% for field in form1 %}
            <div>
                <label>{{ field.label }}</label>
                <input type="text" name="{{ field.name }}" value="{{ field.value }}" readonly>
            </div>
        {% endfor %}
    </form>
    <p>Address</p>
    <form>
        {% csrf_token %}
        {% for field in form2 %}
            <div>
                <label>{{ field.label }}</label>
                <input type="text" name="{{ field.name }}" value="{{ field.value }}" readonly>
            </div>
        {% endfor %}
    </form>
    <a href="{% url 'shop:edit_profile' %}"><button>Edit</button></a>
<div class="container mx-auto">      
      <main class="flex flex-col self-center px-5 mt-14 w-full text-base leading-6 text-gray-500 max-w-[1089px] max-md:mt-10 max-md:max-w-full">
        <h2 class="self-start text-4xl font-bold text-center text-gray-800 leading-[65.88px]">Contact Information</h2>
        
        <form class="mt-16 max-md:mt-10 max-md:max-w-full">
          <div class="flex gap-5 justify-between max-md:flex-wrap max-md:max-w-full">
            <div class="w-1/2 max-md:w-full">
              <label for="firstName" class="sr-only">First name</label>
              <input id="firstName" type="text" placeholder="First name*" class="w-full py-3 pr-4 pl-5 bg-white rounded-md border border-solid border-zinc-200 max-md:pr-5 max-md:max-w-full" required>
            </div>
            <div class="w-1/2 max-md:w-full">
              <label for="lastName" class="sr-only">Last name</label>
              <input id="lastName" type="text" placeholder="Last name*" class="w-full py-3 pr-4 pl-5 bg-white rounded-md border border-solid border-zinc-200 max-md:pr-5 max-md:max-w-full" required>
            </div>
          </div>
      
          <div class="flex gap-5 justify-between mt-14 whitespace-nowrap max-md:flex-wrap max-md:mt-10 max-md:max-w-full">
            <div class="w-1/2 max-md:w-full">
              <label for="email" class="sr-only">Email</label>
              <input id="email" type="email" placeholder="Email*" class="w-full px-5 py-3 bg-white rounded-md border border-solid border-zinc-200 max-md:max-w-full" required>
            </div>
            <div class="w-1/2 max-md:w-full">
              <label for="city" class="sr-only">City/Town</label>
              <input id="city" type="text" placeholder="City/Town*" class="w-full py-3 pr-4 pl-5 bg-white rounded-md border border-solid border-zinc-200 max-md:pr-5 max-md:max-w-full" required>
            </div>
          </div>
      
          <div class="flex gap-5 justify-between mt-14 max-md:flex-wrap max-md:mt-10 max-md:max-w-full">
            <div class="w-1/2 max-md:w-full">
              <label for="phone" class="sr-only">Phone number</label>
              <input id="phone" type="tel" placeholder="Phone number*" class="w-full py-3 pr-4 pl-5 bg-white rounded-md border border-solid border-zinc-200 max-md:pr-5 max-md:max-w-full" required>
            </div>
            <div class="w-1/2 max-md:w-full">
              <label for="dob" class="sr-only">Date of Birth</label>
              <input id="dob" type="date" placeholder="Date of Birth (optional)" class="w-full py-3 pr-4 pl-5 bg-white rounded-md border border-solid border-zinc-200 max-md:pr-5 max-md:max-w-full">
            </div>
          </div>
      
          <button type="submit" class="px-9 py-5 mt-14 text-lg font-bold leading-5 text-center text-white bg-gray-800 rounded-md max-md:px-5 max-md:mt-10 max-md:max-w-full">Edit Details</button>
        </form>
      
        <h2 class="self-start pt-10 text-4xl font-bold text-center text-gray-800 leading-[65.88px]">Shipping Location</h2>
      
        <form class="mt-16 max-md:mt-10 max-md:max-w-full">
          <div class="flex gap-5 justify-between whitespace-nowrap max-md:flex-wrap max-md:max-w-full">
            <div class="w-1/2 max-md:w-full">
              <label for="shippingCity" class="sr-only">City</label>
              <input id="shippingCity" type="text" placeholder="City*" class="w-full py-3 pr-4 pl-5 bg-white rounded-md border border-solid border-zinc-200 max-md:pr-5 max-md:max-w-full" required>
            </div>
            <div class="w-1/2 max-md:w-full">
              <label for="shippingTown" class="sr-only">Town</label>
              <input id="shippingTown" type="text" placeholder="Town*" class="w-full py-3 pr-4 pl-5 bg-white rounded-md border border-solid border-zinc-200 max-md:pr-5 max-md:max-w-full" required>
            </div>
          </div>
      
          <div class="flex gap-5 justify-between mt-11 max-md:flex-wrap max-md:mt-10 max-md:max-w-full">
            <div class="w-1/2 max-md:w-full">
              <label for="majorRoad" class="sr-only">Major Road</label>
              <input id="majorRoad" type="text" placeholder="Major Road*" class="w-full px-5 py-3 bg-white rounded-md border border-solid border-zinc-200 max-md:max-w-full" required>
            </div>
            <div class="w-1/2 max-md:w-full">
              <label for="estate" class="sr-only">Estate</label>
              <input id="estate" type="text" placeholder="Estate*" class="w-full py-3 pr-4 pl-5 whitespace-nowrap bg-white rounded-md border border-solid border-zinc-200 max-md:pr-5 max-md:max-w-full" required>
            </div>
          </div>
      
          <div class="mt-20 max-md:mt-10 max-md:max-w-full">
            <label for="deliveryDetails" class="sr-only">Delivery location details</label>
            <textarea id="deliveryDetails" placeholder="Tell us more about your delivery location e.g. landmarks" class="w-full px-5 pt-3 pb-5 bg-white rounded-md border border-solid border-zinc-200 max-md:max-w-full"></textarea>
          </div>
      
          <button type="submit" class="px-9 py-5 mt-16 text-lg font-bold leading-5 text-center text-white bg-gray-800 rounded-md max-md:px-5 max-md:mt-10 max-md:max-w-full">Edit Details</button>
        </form>
      </main>
      </div>
{% endblock %}