<!-- templates/register.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Profile Page</title>
</head>
<body>
    <p>Personal Information</p>
    <form>
        {% csrf_token %}
        {% for field in form1 %}
            <div>
                <label>{{ field.label }}</label>
                <input type="text" name="{{ field.name }}" value="{{ field.value }}" readonly>
            </div>
        {% endfor %}
    </form>
    <p>Address</p>
    <form>
        {% csrf_token %}
        {% for field in form2 %}
            <div>
                <label>{{ field.label }}</label>
                <input type="text" name="{{ field.name }}" value="{{ field.value }}" readonly>
            </div>
        {% endfor %}
    </form>
    <a href="{% url 'shop:edit_profile' %}"><button>Edit</button></a>
</body>
</html>