<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header class="bg-gray-100 p-5">
        <h1 class="text-2xl md:text-4xl">Header</h1>
    </header>
    <div class="flex flex-col space-y-4 my-5 md:flex-row md:space-x-4 md:space-y-0">
        <main class="bg-gray-200 px-4 py-40 md:w-3/5 lg:w-3/5">
            <h1 class="text-2xl md:text-4xl">Main content</h1>
        </main>
        <aside class="bg-gray-300 px-4 py-40 md:w-2/5 lg:w-2/5">
            <h1 class="text-2xl md:text-4xl">Sidebar</h1>
        </aside>
    </div>
    <footer class="bg-gray-400">
        <h1 class="text-2xl md:text-4xl">Footer</h1>
    </footer>
</body>
</html>
    
